{% extends '::base.html.twig' %}

{% block body %}
    <h2>Internal Server Error</h2>

    <p>
        An error occured whilst processing your request. Checkout for any URL
        misspelling or <a href="{{ path('hackzilla_password_generator_form') }}">return to the homepage</a>.
    </p>
{% endblock %}
