app/config/parameters.yml
web/bundles
/build/
/vendor/
/bin/
!/bin/console
node_modules
web/assets
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
var/bootstrap.php.cache
