<div class="navbar-brand navbar-right locale">{{ 'HEADING_LANGUAGE'|trans }}
    <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}"{% if app.request.locale == 'en' %} class="selected-locale"{% endif %}>en</a>
    <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}"{% if app.request.locale == 'fr' %} class="selected-locale"{% endif %}>fr</a>
</div>
