/* Sticky Footer*/
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 75px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}



/* Site Specific */
html,
body{
    background-color: #333;
    color: #fff;
    padding-top: 40px;
}

.footer {
    background-color: #444;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
}

div.alert {
    margin-top: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

div.passwords {
    margin-top: 2em;
}

div.passwords h2 {
    font-size: 20px;
}

form {
    margin-top: 2em;
}

.password-mode {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mode-description p {
    color: #eee !important;
}
