{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page not found</h2>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('hackzilla_password_generator_form') }}">return to the homepage</a>.
    </p>
{% endblock %}
